html{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../img/banner-1280×640.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 200px;
}
header h1{
    font-family: sans-serif;
    font-size: 50px;
    color: #fff;
    margin-left: 8%;
}
header > nav > ul{
    display: flex;
    list-style: none;
    column-gap: 20px;
    margin: 20px;
    padding: 0;
}
 
header > nav{
    border-radius: 20px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
    margin-left: 5%;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul il {
    margin-left: 50px;
}
nav ul li:first-child{
    margin-left: 0; 
}
nav ul li a img {
    width: 80px;
    height: auto;
}
header h1 {
    font-family: sans-serif;
    font-size: 50px;
    color: #fff;
    margin-left: 8%;
    margin-right: 170px;
}