* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(../img/banner-1280×640.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 12%; /* Adicionado padding uniforme */
  height: 200px;
}

header .titulo {
  font-family: sans-serif;
  font-size: 50px;
  color: #fff;
  margin: 0;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

header nav ul li {
  margin-left: 30px;
}

header nav ul li:first-child {
  margin-left: 0;
}

header nav ul li a img {
  width: 80px;
  height: auto;
}

.div-cadastro {
  position: relative;
  float: left; /* Alterado para float left */
  width: 50%;
  background-color: #3f4855;
  padding: 20px;
  color: #ffffff;
  text-align: left;
  height:62vh; /* Alterado para alinhar à esquerda */
}


  h2 {
    color: #ffffff;
    font-family: roboto;
    font-size: 40px; /* Reduzido o tamanho da fonte para caber melhor na caixa */
    text-align: left; /* Alterado para alinhar à esquerda */
    margin-top: 20px; /* Reduzido o espaçamento superior */
}

.box-cadastro {
  width: 100%; /* Ajustado para ocupar toda a largura da caixa */
  padding: 10px;
  border: 5px solid #ccc;
  border-radius: 5px;
  font-size: 20px; /* Reduzido o tamanho da fonte para caber melhor na caixa */
  background-color: white;
}

.atencao {
  color: red;
  font-size: 14px; /* Reduzido o tamanho da fonte para caber melhor na caixa */
  margin-left: 0; /* Removido o margin-left */
  float: none; /* Removido o float */
}

.button-send {
  width: auto;
  height: auto;
  background-color: #1e2836;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  border-color: #ffffff;
  font-size: 20px;
  margin-top: 40px; /* Aumente o valor para mover o botão para baixo da div row email */
}




